@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 class="text-center ">CAR REGISTRATION SYSTEM</h2>
    <p class="lead">We Are launching a scheme of registration of new vehicles through automobile dealers. Dealers will take the registration fee and a fixed convenience/service charge from the customer, register the vehicle through the registration system, and issue customers the license plates on the spot</p>
    <p><a class="btn btn-primary btn-sm " >Learn more</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Standered Operating Procedure (SOP)</h2>
        <p>
            Display the rates of taxes, fees and charges Office<br />
            Licensee will open an non cheque able account for the advance payments of taxes, fees and charges of Government of Punjab<br />
            Charge the payment only after generating payment challan from the DVR system<br />
            License holder will complete the transaction immediately after the receipt of payment from the applicant<br />
            The data Entry will be terminated after 30 min if transaction not completed through payment from the account<br />
            Licensee bound to submit registration cases to MRA in next working day, otherwise transaction may be suspended<br />
            Licensee will keep record of documents and number plates and to pay the compensation in case of any loss of documents to vehicle owner<br />
        </p>
        <p><a class="btn-sm btn-danger">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How To Apply</h2>
        <p>
         Submit Application Form-A for Motor vehicle transaction License (Punjab Motor Vehicle transaction Licensee Rules 2015) and deposit PKR.500/- in National Bank of Pakistan through Challan 32-A<br/>
         Deposit license Fee in National Bank of Pakistan through Challan 32-A according to license applied<br />
         Open Non-Chequeable account in National bank of Pakistan for DVRS transactions<br />
         Provide Security Fee(bank guarantee) which is refundable<br />
         Each year Licensee will submit a license renewable fee<br />
         Now public will not have to wait for the number plates and hassle to drive non-registered vehicle<br />
         Number plates will be available at dealership point<br />
         Easy access to motor vehicle registration services initially available only in Lahore<br />
        </p>
        <p><a class="btn-sm btn-danger">Learn more </a></p>
    </div>
    <div class="col-md-4">
        <h2>Eligibility Criteria License</h2>
        <p>
            Any automobile dealer who is dealing in the business of Cars/Motorcycles for the period of last 3 years<br />
            Having reasonable office premises and IT infrastructure<br />
            Do not have any criminal record of any of its directors, members or partners<br />
            A good credit history report of last six month exhibiting minimum monthly transaction of 3 million rupees<br />
        </p>
        <p><a class="btn-sm btn-danger">Contact Us</a></p>
    </div>
</div>